<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                COMIC App
            </h1>
            <h2 class="subtitle">Información de superhéroes</h2>
        </div>
    </div>
</section>