<article class="tile is-child box">
    <p class="title">{{ heroe.nombre | uppercase }}</p>
    <p class="subtitle">{{ heroe.casa }}</p>
    <figure class="image is-4by3">
        <img [src]="heroe.img" [alt]="heroe.nombre">
    </figure>
    <div class="content">
        <p>{{ heroe.bio }}</p>
    </div>
    <button (click)="verHeroe()" class="button is-link is-outlined is-fullwidth" type="button">Ver más</button>
</article>