<p *ngIf="heroe.length == 0">No hay resultados...</p>

<section class="section">
    <div class="container is-fluid">
        <div class="tile is-ancestor wrap">
            <app-heroe-tarjeta [heroe]="heroe" *ngFor="let heroe of heroe" class="tile is-parent is-4"></app-heroe-tarjeta>
        </div>
    </div>
</section>