<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="assets/img/A-64.png" width="auto" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-active">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['home']" routerLinkActive="nav-active">Home</a>
            <a class="navbar-item" [routerLink]="['heroes']" routerLinkActive="nav-active">Héroes</a>
            <a class="navbar-item" [routerLink]="['about']" routerLinkActive="nav-active">About</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="text" placeholder="Búsca un héroe..." (keyup.enter)="buscarHeroe(textoBusqueda.value)" #textoBusqueda>
                    </p>
                    <p class="control">
                        <button (click)="buscarHeroe(textoBusqueda.value)" class="button" type="button">Buscar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>