<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <img *ngIf="heroe.casa=='DC'" class="is-inline-block casa-heroe m-right-20" src="assets/img/DC_logo.png">
            <img *ngIf="heroe.casa!='DC'" class="is-inline-block casa-heroe m-right-20" src="assets/img/Marvel_logo.png">
            <div class="is-inline-block">
                <h1 class="title">{{ heroe.nombre }}</h1>
                <h2 class="subtitle">{{ heroe.aparicion }}</h2>
            </div>
            <a [routerLink]="['/heroes']" class="button is-info is-inverted is-outlined float-right">
                < Regresar</a>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image is-4by3">
                    <img [src]="heroe.img" [alt]="heroe.nombre">
                </figure>
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Biografía</p>
                            <div class="content">
                                <p>{{ heroe.bio }}</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>