/* You can add global styles to this file, and also import other style files */

.nav-active {
    color: #3273dc !important;
}

.m-right-20 {
    margin-right: 20px;
}

.float-right {
    float: right;
}

.wrap {
    flex-wrap: wrap !important;
}